:root {
  --color-primary: #928dab;
  --color-secondary: #1f1c2c;
}

body.no-scroll {
  overflow: hidden;
}

.key {
  padding: 20px;
  font-size: 20px;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

.key:active {
  transform: scale(0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.modal-in {
  animation: ModalIn 0.2s forwards;
}
.modal-out {
  animation: ModalOut 0.2s forwards;
}

@keyframes ModalIn {
  0% {
    transform: translateX(500px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes ModalOut {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(500px);
  }
}
