@layer base, apply, custom, theme, mui, components, utilities;
@font-face{
  src: url('../assets/fonts/SNPro-Bold.ttf') format('truetype');
  font-family: 'bold';
  font-weight: 800;
}
@font-face{
  src: url('../assets/fonts/SNPro-Medium.ttf') format('truetype');
  font-family: 'medium';
  font-weight: 600;
}
@font-face{
  src: url('../assets/fonts/SNPro-Regular.ttf') format('truetype');
  font-family: 'regular';
  font-weight: 400;
}

@import 'tailwindcss';

@theme{
  --color-primary: #928DAB;
  --color-secondary: #1f1c2c;
  --font-regular: "regular";
  --font-bold: "bold";
  --font-medium: "medium";
}

@base {
  *{
    transition: all .2s ease-in-out;
    scroll-behavior: smooth;
  }
}

@custom {
  body{
    @apply font-regular;
  }
}