@layer base, apply, custom, theme, mui, components, utilities;
@font-face {
  src: url("../assets/fonts/SNPro-Bold.ttf") format("truetype");
  font-family: "bold";
  font-weight: 800;
}
@font-face {
  src: url("../assets/fonts/SNPro-Medium.ttf") format("truetype");
  font-family: "medium";
  font-weight: 900;
}
@font-face {
  src: url("../assets/fonts/SNPro-Regular.ttf") format("truetype");
  font-family: "regular";
  font-weight: 400;
}

@import "tailwindcss";

@theme {
  --color-primary: #928dab;
  --color-secondary: #1f1c2c;
  --font-regular: "regular";
  --font-bold: "bold";
  --font-medium: "medium";
}

* {
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}

body {
  @apply font-regular bg-slate-800 text-[16px];
}
